
div{
    width: 800px;
}
table{
    border-style: solid;
    border-color: grey;
    width: 650px;
   

}
#Esp{
    font-weight: bold;
}

th, tr, td{
    border-style: solid;
    border-color: grey;
}
#pais{
    text-align: center;
    box-sizing: content-box;
    padding-left: 40px;
    padding-right: 40px;
    
}
td{
    text-align: left;
   
}
