
table {
    width: 700px;
    border-collapse: collapse;
    box-shadow: 2px 2px grey;
    text-align: center;
    color: #A7394B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url("/ejercicio-16/img/wallpaper.jpg");

}
td,
th,
tr {
    border-style: inset;
}

th {
    background-color: #669966;
}
#categoria {
    background-color: #FFCC99;
}
#tamaño {
    background-color: #FFFF99;
}
