

#container{
 
    display:flex;
    justify-items: center;
    align-items: center;
    
}


#div1{
    width: 900px;
    height: 800px;
    margin:0px auto;
    background-image: url("/ejercicio-14/img/pingüinos.jpg");
    background-size: 900px 800px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div2 {
    background-color: grey;
    box-shadow: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#encabezado{
    background-color: rgb(214, 214, 214);
}
table{
    width: 500px;
    border: 1px;
    border-style:solid;
    text-transform: uppercase;
    text-align: center;
   
}
td{
    border: 2px;
    border-style:inset;
    background-color: rgb(250, 250, 165);
}